* {
    margin: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif
}
body p {
    font-size: 1.1em;
}
/*header repete para todos*/
header {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
}
header img {
    width: 100%;
    height: auto;
}
nav {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 230, 207);
    padding: 10px;
}
.menu {
    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.menu a {
    width: 20%;
    height: 100%;
    font-size: x-large;
    color: rgb(73, 74, 74);
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: burlywood;
    color: aliceblue;
}
/*INDEX*/
.section_sobre_mim {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.texto_sobre_mim {
    width: 50%;
    height: auto;
    overflow: hidden;
    text-align: justify;
    color: black;
    text-indent: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.texto_sobre_mim h1{
    text-align: center;
    color: rgb(31, 178, 134);
}
.my_picture {
    width: 40%;
    height: auto;
    overflow: hidden;
    display: flex;
}
.my_picture img {
 width: 100%;
 height: auto;
}
.title {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: rgb(244, 230, 207);
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(65, 56, 57);
}
.section_progr {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(65, 56, 57);
}
.box_progr {
    width: 30%;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: rgb(244, 230, 207);
    padding: 10px;
    border: solid 3px rgb(244, 230, 207);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button_progr button{
    width: 30%;
    height: auto;
    overflow: hidden;
    background-color: rgb(244, 230, 207);
    font-size: 0.8em;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
.title_formacao {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(31, 178, 134);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.section_formacao {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url(imagens/fundo_mar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}
.box_formacao {
    width: 30%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button_formacao button {
    width: 30%;
    height: auto;
    overflow: hidden;
    background-color: rgb(31, 178, 134);
    font-size: 0.8em;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
/*EXPERIENCIAS*/
.title_jobs {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.section_job {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.circle {
    width: 20%; 
    height: auto;
    overflow: hidden; 
    border-radius: 50%; 
}
.circle img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.job_text {
    width: 40%;
    height: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Habilidades*/
.section_hab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; /* Ajuste a altura conforme necessário */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 100px;
    height: 100px;
  }
/*PROJETOS*/
.box_repository {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(31, 178, 134);
    display: flex;
    justify-content: center;
}
.title_repository {
    width: 90%;
    height: auto;
    overflow: hidden;
    text-align: center;
    background-color: blueviolet;
}
.button_repository {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: cyan;
}
.button_repository button {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(65, 56, 57);
    
}    