 @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;600&family=Roboto&family=Wix+Madefor+Display:wght@400;700&display=swap');
:root {
    --cor-bege: #e1d3b6;
    --cor-marrom-claro: #c0a290; 
    --cor-marrom-escuro: #90604c;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'oxygen';
    font-size: 1.1rem;
}
.ho {
    height: auto;
    overflow: hidden;
}
.w100 {
    width: 100%;
}
.df {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
.al-c {
    align-items: center;
}
.juscont-center {
    justify-content: center;
}
.justcont-se {
    justify-content: space-evenly;
}
.justcont-sa {
    justify-content: space-around;
}
.p-1 {
    padding: 1%;
}
.bx {
    box-sizing: border-box;
}
.p-2 {
    padding: 2%;
}
.p-3 {
    padding: 3%;
}
.p-5 {
    padding: 5%;
}
/*HEADER*/
header {
    height: 750px;
    background-image: url(imagens/fundo_header.jpg);
    background-position: center;
    background-size: cover;
}
nav {
    background-color: rgba(128, 128, 128, 0.618);
    position: fixed;
    z-index: 1000;
}
.menu {
    width: 95%;
    list-style: none;
}
.menu li {
    width: 10%;
    text-align: center;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1%;
    text-shadow: 3px 3px 3px #000;
}
.container_header {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.618);
}
.box_title {
    width: 80%;
    font-size: 2em;
    color: var(--cor-bege);
}
/*SOBRE MIM*/
.section_sobre_mim {
    padding: 3%;
    box-sizing: border-box;
}
.my_picture {
    width: 40%;
}
.my_picture img {
    width: 70%;
    border: 1px solid var(--cor-marrom-escuro);
    border-radius: 5px;
}
.texto_sobre_mim {
    width: 50%;
    text-align: justify;
    color: rgb(55, 56, 56);
    text-indent: 20px;
    padding: 2%;
    box-sizing: border-box;
}
.texto_sobre_mim h1{
    font-size: 2rem;
    color: var(--cor-marrom-escuro);
}
.line_title {
    width: 45%;
    height: 5px;
    background-color: var(--cor-marrom-escuro)
}
.button_box {
    padding: 1%;
    box-sizing: border-box;
}
.button {
    width: 45%;
    padding: 2%;
    box-sizing: border-box;
    background-color: var(--cor-marrom-escuro);
}
.button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
/*PROJETOS*/
.section_projetos {
    background-color: var(--cor-marrom-claro);
}
.title_projetos {
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
}
.container_projetos {
    padding: 2%;
    box-sizing: border-box;
}
.box_projeto {
    width: 30%;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid var(--cor-marrom-escuro);
    border-radius: 5px;
}
.box_img {
    height: 45%;
}
.box_projeto h2 {
    text-align: center;
}
.text_projeto {
    text-align: center;
    font-size: 1rem;
    padding: 5%;
    box-sizing: border-box;
}
.button_box_projeto a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.button_projeto {
    width: 45%;
    background-color: #90604c;
    color: white;
    font-size: 1rem;
    padding: 2%;
    box-sizing: border-box;
}
/*CURSOS*/
.section_cursos {
    padding: 1%;
    box-sizing: border-box;
}
.title_cursos {
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-marrom-escuro);
    padding: 1%;
    box-sizing: border-box;
}
.container_cursos {
    width: 60%;
    padding: 2%;
    box-sizing: border-box;
}
.box_cursos {
    width: 25%;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #00000096;
}
.text_cursos {
    text-align: center;
}
.text_cursos h2 {
   color: rgb(65, 56, 57);
   font-size: 1.2rem;
}
.box_idioma {
    width: 50%;
    text-align: center;
    padding: 0.5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #00000096;
    margin-bottom: 3%;
    flex-direction: row;
}
/*HABILIDADES*/
.section_hab {
    background-color: var(--cor-marrom-escuro);
    padding: 3%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.box_hab {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.title_hab {
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
/*FORMACAO*/
.section_formacao {
    background-image: url(imagens/fundo_form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-sizing: border-box;
}
.container_form {
    width: 65%;
    background-color: var(--cor-bege);
    padding: 2%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #00000096;
}
.title_formacao {
    width: 45%;
    text-align: center;
    font-size: 2rem;
}
.linha_formacao {
    width: 5px;
    height: 350px;
    background-color: black;
}
.box_formacao {
    width: 50%;
    text-align: left;
    color: var(--cor-textos);
}
.text_formacao {
    padding: 5%;
    box-sizing: border-box;
}
/*EXPERIENCIAS*/
.section_exp {
    padding: 3%;
    box-sizing: border-box;
}
.title_exp {
    background-color: var(--cor-cinza);
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-textos);
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 2%;
}
.box_exp {
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
}
.circle {
    width: 20%; 
    border-radius: 50%;
}
.circle img {
    border-radius: 50%;
    object-fit: cover;
}
.text_exp {
    width: 90%;
    text-align: center;
    color: var(--cor-textos);
}
/*FOOTER*/
footer {
    background-color: #90604c;
}
.title_footer {
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
}
.contato {
    width: 20%;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
}
.contato img {
    width: 10%;
}
@media screen and (max-width: 1000px) {
    .menu, .container_cursos {
        width: 100%;
    }
    .container_projetos, .container_cursos {
        flex-wrap: wrap;
    }
    .box_projeto, .box_cursos {
        width: 45%;
        margin-top: 3%;
    }
    .container_form {
        flex-direction: column;
        align-items: center;
    }
    .linha_formacao {
        display: none;
    }
    .box_formacao {
        text-align: center;
    }
    .title_formacao {
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .menu li, .texto_sobre_mim, .my_picture, .box_hab, .title_hab, .box_exp, .box_projeto, .box_cursos, .box_idioma, .container_form, .contato, .box_formacao {
        width: 100%;
    }
    nav {
        position: absolute;
    }
    .box_title {
        font-size: 1rem;
    }
    .section_sobre_mim, .container_exp {
        width: 100%;
        flex-direction: column;
    }
    .container_form {
       padding: 0;
    }
}  