* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
/*header repete para todos*/
header {
    width: 100%;
    height: 750px;
    background-image: url(imagens/fundo_header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(244, 230, 207);
    padding: 1%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    width: 100%;
    height: auto;
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: blue;
}
.menu li {
    text-align: center;
    background-color: brown;
}
.menu a {
    width: 20%;
    height: 100%;
    color: rgb(73, 74, 74);
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: burlywood;
    color: aliceblue;
}
.container_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.618);
}
.box_title {
    width: 70%;
    height: auto;
    overflow: hidden;
    font-size: 2em;
    color: aliceblue;
}
/*INDEX*/
.section_sobre_mim {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.my_picture {
    width: 20%;
    height: auto;
    overflow: hidden; 
    border-radius: 50%; 
}
.my_picture img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.texto_sobre_mim {
    width: 50%;
    height: auto;
    overflow: hidden;
    text-align: justify;
    color: black;
    text-indent: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.texto_sobre_mim h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(65, 56, 57)
}
.line_title {
    width: 30%;
    height: 6px;
    background-color: rgb(65, 56, 57);
    color: rgba(240, 248, 255, 0);
}
/*HABILIDADES*/
.title_hab {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: rgb(244, 230, 207);
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(65, 56, 57);
}
#section_hab {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(65, 56, 57);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box_hab {
    width: 25%;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: rgb(244, 230, 207);
    padding: 10px;
    border: solid 3px rgb(244, 230, 207);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button_hab button{
    width: 30%;
    height: auto;
    overflow: hidden;
    background-color: rgb(244, 230, 207);
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
/*FORMACAO*/
#section_formacao {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url(imagens/fundo_form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_formacao {
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: tan;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(65, 56, 57);
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container_form {
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: tan;
    padding: 1% 5% 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box_formacao {
    width: 40%;
    height: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.button_formacao button {
    width: 30%;
    height: auto;
    overflow: hidden;
    background-color: rgb(65, 56, 57);
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(244, 230, 207);
    border-radius: 5px;
    padding: 5px;
    margin-top: 2%;
    box-sizing: border-box;
}
/*EXPERIENCIAS*/
.section_exp {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.title_exp {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(65, 56, 57);
    text-align: center;
    font-size: 1.5rem;
    color: rgb(244, 230, 207);
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 2%;
}
.container_exp {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.box_exp {
    width: 30%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    width: 20%; 
    height: auto;
    overflow: hidden; 
    border-radius: 50%;
}
.circle img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.text_exp {
    width: 90%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
/*CURSOS*/
.section_cursos {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 255, 255),  tan);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_cursos {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(65, 56, 57);
    padding: 1%;
    box-sizing: border-box;
}
.container_cursos {
    width: 60%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: brown;
}
.box_cursos {
    width: 25%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    background-color: rgb(172, 165, 166);
}
.text_cursos {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
.text_cursos h2 {
   color: rgb(65, 56, 57);
   font-size: 1.2rem;
}
.container_certificados {
    width: 100%;
    height: auto;
    display: flex;
}
.box_certificados {
    width: 50%;
    height: auto;
    overflow: hidden;
}
.box_certificados img {
    width: 100%;
    height: 90%;
}
/*PROJETOS*/
.section_projetos {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: tan;
}
.box_repository {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(31, 178, 134);
    display: flex;
    justify-content: center;
}
.title_repository {
    width: 90%;
    height: auto;
    overflow: hidden;
    text-align: center;
    background-color: blueviolet;
}
.button_repository {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: cyan;
}
.button_repository button {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(65, 56, 57);
    
}
@media screen and (max-width: 1100px) {
    .section_sobre_mim {
        width: 100%;
        flex-direction: column;
    }
    .texto_sobre_mim, .my_picture {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .menu li {
        width: 100%;
    }
    .box_progr, .box_formacao {
        width: 90%;
    }   
    .box_progr, .box_formacao {
        margin-bottom: 2%;
    }
}  